<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Betting.Interfaces.ModelServices.ITradingContentService, Betting.Interfaces" mapTo="Betting.Core.ModelServices.TradingContentService, Betting.Core" />
    <register type="Betting.Interfaces.ModelServices.IWebTradingContentService, Betting.Interfaces" mapTo="Betting.Web.ModelServices.WebTradingContentService, Betting.Web.ModelServices" />
  </container>

</unity>
