.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 500000;
    height: 100%;
    background-color: #fff;
    padding: 50%;
}