@model Betting.Web.ViewModels.PopularPanelsView
    
@foreach (var panel in Model.Panels)
{
    var index = 0;
    
    <div>
        <h2 data-collapseid="@index" class='bar'>@panel.Name</h2>
        <div class="panel" data-collapseid="@index">
            content
        </div>
    </div>
}

